* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2258bd; 
    color: #222;
}

.app {
    display: flex;
    min-height: 110vh;
}

/* Sidebar */

.sidebar {
    width: 230px;
    background-color: #1f2937;
    color: white;
    padding: 25px 15px;
}

.sidebar h2 {
    margin-bottom: 30px;
    text-align: center;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 6px;
}

.sidebar a:hover {
    background-color: #374151;
}


/* Main Content */

.main-content {
    flex: 1;
    padding: 30px;
}

header {
    margin-bottom: 30px;
}

header h1 {
    font-size: 30px;
    margin-bottom: 8px;
}

header p {
    color: #666;
}


/* Content */

.content {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
}


/* Section Header */

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.section-header h2 {
    font-size: 22px;
}


/* Button */

button {
    border: none;
    background-color: #2563eb;
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}


/* Table */

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 13px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f3f4f6;
}

tr:hover {
    background-color: #f9fafb;
}
